/* Last-step styling for TCDS XDAQ applications. This is all applied
on top of the XDAQ12 new-style HyperDAQ. */

/* Some stuff related to the loading screen. */
.pg-loading-screen .pg-loading-html p
{
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 100px;
}

/* .pg-loading-screen .pg-loading-logo-header img */
/* { */
/*     background-color: white; */
/*     outline: 1pt solid white; */
/* } */

#tcds-application-title, #tcds-application-subtitle
{
    display: inline-block;
}

.target
{
    display: inline-block;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
}

div.target
{
    width: 100%;
    height: 100%;
}

textarea.target
{
    resize: none;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid #CBCBCB;
    overflow: auto;
    box-shadow: none;
    width: 100%;
    font-size: 0.9em;
    font-family: inherit;
    /* font-family: monospace; */
    height: 20em;
}

.tcds-item-table-wrapper, .tcds-item-div-wrapper
{
    /* This of course has to match the XDAQ CSS styles. */
    padding: 1em;
    /* border: 1px solid #cbcbcb; */
}

.tcds-tab-name-wrapper
{
    padding: 1em;
    border: 2px solid #cbcbcb;
    margin-bottom: 2px;
}

.tcds-tab-table
{
    width: 100%;
}

.tcds-tab-table td
{
    vertical-align: top;
    border: 1px solid #cbcbcb;
}

.tcds-item-table
{
    table-layout: fixed;
}

.pixelmonitor-table-compact
{
    margin: auto;
}

table[class*=pixelmonitor-table-compact] td, table[class*=pixelmonitor-table-compact] th
{
    font-size: 11px;
    padding: 1px;
    text-align: center;
}

.button_monitor
{
    background: none;
    font-family: 'Open Sans';
    font-size: 12px;
}

.dialog_monitor
{
    font-size: 10px;
    font-family: 'Open Sans';
}

.ui-button-text
{
    padding:.2em, .2em;
}

.tcds-item-table div
{
    max-height: 25.5em;
    /* overflow-y: auto; */
}

.tcds-item-table td
{
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #cbcbcb;
    /* NOTE: This was changed from 'pre' to 'pre-line' in order to make */
    /* the tooltips properly wrap around, instead of sticking out of the */
    /* screen. */
    white-space: pre-line;
}

.tcds-item-grid td, .tcds-item-grid th
{
    min-width: 4em;
    height: 1em;
    text-align: center;
    border: 1px solid #cbcbcb;
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* border: 1px solid #cbcbcb; */
    /* white-space: pre; */
}

.tcds-item-grid th
{
    background-color: #cbcbcb;
}

.tcds-tab-name, .tcds-item-table-title, .tcds-item-div-title
{
    font-weight: bold;
}

.tcds-item-header
{
    white-space: pre;
}

.tcds-item-value
{
    white-space: normal;
}

#tcds-log-wrapper
{
    width: 100%;
    text-align: center;
}

#tcds-log
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border: 5px solid red;
    border-radius: 12px;
    padding: 5px;
    display: inline-block;
}

.thumb
{
    display: block;
    height: 2em;
    width: auto;
}

/* ---------- */

/* Two classes to style good and bad lines in the TTS log. */

.tts_log_row_good
{
    background: rgba(0, 255, 0, 0.1);
}

.tts_log_row_bad
{
    background: rgba(255, 0, 0, 0.1);
}

/* ---------- */

/* The base style for a single-cell TTS value. */

span[tts_val]
{
    display: inline-block;
    padding: 0pt 5pt 0pt 5pt;
}

/* ---------- */

/* The following are all the various TTS states. */

span[tts_val~="ready"]
{
    font-weight: bold;
    color: #009900;
    /* background-color: white; */
}

span[tts_val~="ignored"]
{
    font-weight: lighter;
    color: grey;
    /* background-color: white; */
}

/* This catches all 'link lost at input of X cases. */
span[tts_val*="lost"]
{
    font-weight: bold;
    color: white;
    background-color: red;
}

span[tts_val~="disconnected"]
{
    font-weight: bold;
    color: white;
    background-color: red;
}

span[tts_val*="invalid"]
{
    font-weight: bold;
    color: white;
    background-color: red;
}

span[tts_val~="error"]
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

span[tts_val~="warning"]
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

span[tts_val~="busy"]
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

span[tts_val~="out-of-sync"]
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

/* ---------- */
/* NOTE: The following is a bit of an abuse of the TTS CSS... */
/* ---------- */

/* NOTE: The following are slight 'abuses of the system, since they
   are not real TTS states. */
span[tts_val~="disabled"]
{
    font-weight: darker;
    /* color: grey; */
    /* background-color: white; */
}

span[tts_val~="forced"]
{
    font-weight: bolder;
    /* color: grey; */
    /* background-color: white; */
}

span[tts_val*="unknown"]
{
    font-weight: bold;
    color: white;
    background-color: red;
}

span[tts_val~="running"]
{
    font-weight: bold;
    color: #009900;
    /* background-color: white; */
}

span[tts_val~="stopped"]
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

span[tts_val~="blocked"]
{
    font-weight: bold;
    color: white;
    background-color: red;
}

/* ---------- */

.emph-halted
{
    font-weight: normal;
    color: black;
    /* background-color: white; */
}

.emph-configured
{
    font-weight: bold;
    color: white;
    background-color: greenyellow;
}

.emph-enabled
{
    font-weight: bold;
    color: white;
    background-color: green;
}

.emph-failed
{
    font-weight: bold;
    color: white;
    background-color: red;
}

.emph-configuring,
.emph-enabling,
.emph-halting,
.emph-pausing,
.emph-resuming,
.emph-stopping,
.emph-zeroing
{
    font-weight: bold;
    color: white;
    background-color: orange;
}

.emph-unknown
{
    font-weight: bold;
    color: white;
    background-color: red;
}

label, input
{
    display: block;
}

/* ---------- */

/* Some pieces especially for the long tables/grids. */

/* #ttcspylog-grid */
/* { */
/*     width: 100em; */
/*     height: 50em; */
/*     border: 1px solid #cbcbcb; */
/* } */

#nibblehistory-grid, #sectionhistory-grid
{
    width: 100em;
    height: 20em;
    border: 1px solid #cbcbcb;
}

.grid
{
    width: 100em;
    height: 50em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 1px solid #cbcbcb;
}

.slick-cell.selected
{
    background-color: #cbcbcb;
}

/* ---------- */

/* Some pieces especially for large, scrollable tables (like the
B-channel RAM contents). */

.scroll-table-wrapper-outer
{
    /* border: 1px solid #cbcbcb; */
    width: 100%;
    height: 20em;
    position: relative; /* could be absolute or relative */
    padding-top: 40px; /* height of header */
}

.scroll-table-wrapper-inner
{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.scroll-table-header-background
{
    border: 1px solid #cbcbcb;
    background-color: #e0e0e0;
    height: 40px; /* height of header */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.scroll-table-wrapper-inner table
{
    border-collapse: separate;
    border-spacing: 0px;
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll-table-wrapper-inner table th
{
    background-color: red;
    min-width: 5em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.scroll-table-wrapper-inner td
{
    border: none;
}

.th-inner
{
    position: absolute;
    top: 0;
    border-top: 1px solid #cbcbcb;
    background-color: #e0e0e0;
    line-height: 40px; /* height of header */
    text-align: left;
    padding-left: 5px;
    margin-left: -5px;
}

/* ---------- */

/* The following are pieces for the L1A BX-distribution histograms. */

.chart-container
{
    box-sizing: border-box;
    width: 1800px;
    height: 768px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #cbcbcb;
}

.chart-placeholder
{
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.chart-placeholder .button
{
    position: absolute;
    cursor: pointer;
}

.chart-placeholder div.button
{
    /* font-size: smaller; */
    color: #999;
    background-color: #eee;
    padding: 2px;
}

#chart-main
{
    float: left;
    width: 1300px;
    /* height: 700px; */
}

/* #chart-overview */
/* { */
/*     float: right; */
/*     width: 250px; */
/*     height: 128px; */
/* } */

#legend
{
    float: right;
    width: 400px;
    vertical-align: middle;
    font-size: 2em;
}

#legend td
{
    padding: 0;
    margin: 0;
    border: 0px;
    vertical-align: middle;
}

/* ---------- */
